.leaflet-container {
    height: 100vh;
    width: 100%;
}

.mapColumn {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
}

.mapColumnHalf {
    position: fixed;
    height: 100vh;
    width: 70%;
    left: 30%;
}

.sideBar{
    background-color: #f8f5eb;
    z-index: 99999;
    min-width: 300px;
    width: 30%;
    height: calc(100vh - 64px);
    position: fixed;
    top: 64px;
    left: 0;
}

.sideBarClose{
    cursor: pointer;
    margin: 10px 2% 0 90% ;

}

.noteTitleSideBar{
    width: 90%;
    margin-left: 5%;
    font-weight: 600;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #505050;
    font-size: 26px;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    background: none;
    border: none;
}

.IndicatorContainerSideBar{
    margin-top: 10px;
    width: 90%;
    margin-left: 5%;
}

.indicatorItemSideBar{
    width: 100%;
    display: inline-block;
    margin-bottom: 2%;
    padding-left: 1%;
    border-radius: 5px;
    background: linear-gradient(70deg, rgba(200,0,0,0.05), rgba(0,0,200,0.05));
}
.rating-field-sidebar{
    margin-left: -5px;
}
.locationLabelDestinationSideBar{
    margin-top: 10px;
    width: 100%;
}
.location-edit-field-side-bar{
    width: 98%;
    margin: 5px 0 10px 0 !important;
}
.sideBarDetailsButton{
    cursor: pointer;
    margin: 20px 6% 0 60% ;
    background: linear-gradient(70deg, rgba(200,0,0,0.05), rgba(0,0,200,0.05));
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 255, .09);
    transition: background-color 0.3s linear 0s;
    border: 1px solid rgb(255, 219, 219);
    font-weight: 700;
    color: #505050;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}
.sideBarDetailsButton:hover {
    background-color: #bcfdfd;
}

.map-search-box {
    top: 7px;
    right: 7px;
    position: absolute;
    height: 33px;
    z-index: 99999999 !important;
}
.map-search-edit-field{
    width: 250px;
    height: 30px;
    display: inline-block;
    margin-top: 2px !important;
    margin-right: 2px !important;
    padding-left: 10px !important;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    background-color: #ffffff;
}


.map-search-icon-box{
    border: rgba(0, 0, 0, 0.3) solid 2px ;
    /*box-shadow: 0 1px 5px rgba(0,0,0,0.65);*/
    display: inline-block;
    width: 33px;
    height: 33px;
    background-color: #ffffff;
    border-radius: 3px;
    padding-top: 1px;
    padding-left: 1px;
}
.map-search-icon {
    cursor: pointer;
    display: inline-block;
    margin:  0 !important;
    width: 25px !important;
    height: 25px !important;
}
.map-search-options{
    position: absolute;
    right: 8px;
    top: 40px;
    width: 285px;
    font-size: 0.5em;
    border-left: solid 1px rgba(0,0,0,0.1);
    border-right: solid 1px rgba(0,0,0,0.1);
    border-bottom: solid 1px rgba(0,0,0,0.1);
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 255, .09);
    border-radius: 5px;
    background: #ffffff;
    margin-left: 10px;

    z-index: 99999;
    float:none;
}

