.backgroundImage {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: auto;
    text-align: center;
}

.backgroundColor {
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity:0.4;
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    width: 120px;
    position: relative;
}

.line {
    width: 80%;
    position: relative;
    border: 0;
    border-bottom: 1px solid white;
}

.title {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 55px;
    font-style: normal;
    line-height: 85px;
    position: relative;
    top: 220px;
    margin: auto;
}

.subtitle {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 20px;
    position: relative;
    top: 250px;
    margin: auto;
}


.button {
    background-color: transparent;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    position: relative;
    top: 350px;
    margin: auto;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
