.post-comment{
    width:100%;
    margin-top: 5px;
    font-family: Poppins;
}
.post-comment textarea{
    display: flex;
    border-radius: 5px;
    height: 100px;
    border: solid rgba(126, 125, 125, 0.54) thin;
    align-items: flex-start;
    white-space: normal;
    overflow: scroll;
    vertical-align: top;
    word-wrap: break-word;
}
.post-comment textarea:focus{
    border-color: rgba(137, 173, 196, 0.46);
    outline: none;
}
.post-submit-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.post-comment-reply-button{
    font-size: 14px;
    text-align: center;
    width: 50px;
    border: solid thin;
    color: #7e7d7d;
    cursor: pointer;
    margin-top:10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
}
.post-comment-reply-button:hover{
    box-shadow: 1px 1px 1px 1px rgba(126, 125, 125, 0.1);
}
.post-comment-list{
    /*border-top: solid  rgba(150, 202, 234, 0.13);*/
    background-color: rgba(238, 237, 237, 0.32);
    margin:2px 0;
}
.comment-avatar{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin:0 10px;
}
.comment-content{
    margin: 0 10px;
    padding-bottom: 10px;
    font-size: 14px;
}
.comment-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
}
